@media screen and (max-width: 1350px) {
    body {
        // Header 
        .header { 
            .nav { 
                nav {
                    > ul {
                        > li { 
                            &:last-child {
                                &:hover {
                                    > .dropdown {
                                        left: 100%;
                                        opacity: 1;
                                        margin: 0 0 0 -240px;
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
} 
@media screen and (max-width: 1150px) {
    body {
        .wrapper {
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
} 
@media screen and (max-width: 991px) {
    $logoWidht: 280px;
    body {
        .four-items {
            $margin: 3%;
            $length: 2;
            &.mq991 {
                .four-items__item {
                    &:nth-child(n) {
                        width: (100% - $margin * ($length - 1)) / $length;
                        margin: 0 $margin $margin 0;
                        clear: none;
                    }
                    &:nth-child( #{$length}n + #{$length} ) {
                        margin: 0 0 $margin;
                    }
                    &:nth-child(#{$length}n + 1) {
                        clear: left;
                    }
                }
                &.four-items__item_no-margin {
                    .four-items__item{
                        width: 100/$length * 1%;
                        margin: 0;
                    }
                }
            }
        }
        .three-items {
            $margin: 3%;
            .three-items__item {
                width: (100% - $margin * 2) / 3;
                float: left;
                margin: 0 $margin $margin 0;
                &:nth-child(3n+3) {
                    margin: 0 0 $margin;
                }
                &:nth-child(3n+1) {
                    clear: left;
                }
            }
            &.three-items__item_no-margin {
                .three-items__item{
                    width: 100/3 * 1%;
                    margin: 0;
                }
            }
        }
        .two-items {
            $margin: 3%;
            .two-items__item {
                width: (100% - $margin) / 2;
                float: left;
                margin: 0 $margin $margin 0;
                &:nth-child(2n+2) {
                    margin: 0 0 $margin;
                }
                &:nth-child(2n+1) {
                    clear: left;
                }
            }
            &.two-items__item_no-margin {
                .two-items__item {
                    width: 100/2 * 1%;
                    margin: 0;
                }
            }
        }
        //Header
        .header {
            .logo-nav-wrap {
                padding-left: $logoWidht + 10;
            }
            .logo {
                width: $logoWidht;
                margin: 0 0 0 ($logoWidht + 10) * -1;
            }
            .nav {
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                text-align: right;
                .toggleMenu {  
                    display: inline-block;
                    padding: 0 0 0 10px;
                }
                nav {
                    ul {
                        background-color: #f2f2f2;
                        display: none;
                        width: 100%;
                        position: absolute;
                        top: 108px;
                        left: 0;
                        text-align: center;
                        li {
                            display: block;
                            padding: 0;
                            a {
                                display: block;
                                padding: 10px 40px;
                                color: $Color2;
                                border: none !important;
                                position: relative;
                                i {
                                    display: block;
                                }
                            }
                            .dropdown {
                                left: 0 !important;
                                margin: 0 !important;
                                position: static;
                                width: 100%;
                                border-top: none;
                                display: none;
                                opacity: 1;
                                ul {
                                    display: block;
                                    position: static;
                                    box-shadow: none;
                                    li {
                                        border: none;
                                        a {
                                            border: none;
                                            text-align: center;
                                            padding: 10px 40px;
                                        }
                                    }
                                }

                            }
                        }
                    }
                    > ul {
                        > li {
                            &:hover {
                                > a {
                                    color: $Color2;
                                }
                            }
                            &:before {
                                display: none;
                            }
                            > .dropdown {
                                &:after {
                                    display: none;
                                }
                                margin-top: 0;
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}
@media screen and (max-width: 767px) {
    body {
        // Footer
        footer {
            $padding: 20px;
            .footer {
                background-color: $Color2;
                .footer__item {
                    float: none;
                    padding: $padding  0;
                    width: 100%;
                    text-align: center;
                }
                .footer__nav { 
                    padding: $padding - 10px 0;
                }
            }
        }
    }
} 
@media screen and (max-width: 479px) {
    $logoWidht: 220px;
    body {
        .header {
            .logo-nav-wrap {
                padding-left: $logoWidht + 10;
            }
            .logo {
                width: $logoWidht;
                margin: 0 0 0 ($logoWidht + 10) * -1;
            }
        } 
    }
}
